[Unit]
Description=Altimeter Gui Service

[Service]
Environment=DISPLAY=:0
User=pi
ExecStart=/home/pi/start-altimeter-gui
Restart=always

[Install]
WantedBy=multi-user.target
