[Unit]
Description=SerialAltimeterMonitor
After=redis.service
[Service]
ExecStart=/home/pi/start-serial-monitor
Restart=always

[Install]
WantedBy=multi-user.target
